 
.sort{
  position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3%;
}
  .b2
  {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5%;

  }
  .circle 
  {
    display: flex;
    position: relative;
    margin: 0 2%;
    height: 300px;
    width: 300px;
    border: 4px solid black;
    border-radius:50%;
    text-align:center;
    overflow: hidden;
    transition: box-shadow 500ms;
    transition : 0.5s;
    float: left;
  }
  .circle a{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 800;
    font-family: Microsoft JhengHei;
    color: white;
  }
  .circle p{
    width: 100%;
    align-self: center;
  }
  .circle a:hover {
    transition: 0.5s;
    color: black;
    opacity: 0.7;
  }
  .ring{
    background-image: url(/img/pexels-dids-1302307.jpg);
    background-size: 100% 100%;
  }
  .necklace{
    background-image: url(/img/項鍊.jpg);
    background-size: 100% 100%;
  }
  .earring{
    background-image: url(/img/耳環.jpg);
    background-size: 100% 100%;
  }
  .Bracelet{
    background-image: url(/img/手環.jpg);
    background-size: 100% 100%;
  }
  .fb{
    background-image: url(/img/fb.png);
    background-size: 100% 100%;
  }
  .line{
    background-image: url(/img/line.png);
    background-size: 100% 100%;
  }
  .ig{
    background-image: url(/img/IG.png);
    background-size: 100% 100%;
  }
  .shopee{
    background-image: url(/img/Shopee.jpg);
    background-size: 100% 100%;
  }
  @media screen and (Max-Width:  1800px){
    .b2{
      width: 100vw;	 
      display: flex;
    flex-wrap: wrap; 
    }
  }
  @media screen and (Max-Width:  1430px){
    .circle{
      margin: 3% 0;
    }
  }

  @media screen and (Max-Width:  900px){
    .b2{
      position: relative;
      width: 100vw;	 
      display: flex;
      flex-wrap: wrap; 
  
    }
  }
  @media screen and (Max-Width: 300px){
    .b2{
      justify-content: start;
    }
    .circle{
      width: 250px;
      height: 250px;
    }
  }