.nav{
    
    width: 100%;
    background-color: blanchedalmond;
    
}
.nav p{
    width: 100%;
    font-size: xx-large;
    text-align: center;
    margin: 3% auto;
}
.nav p a{
    color: black;
    text-decoration: none;
  }
.footer{
		
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding: 1%;
  }
.content{
    background-image: url(/img/pexels-karolina-grabowska-4039781.jpg);
    height: 100%;
    padding-bottom: 2%;
}
.title{
    width: 100%;
    height: 10%;
}
.title p{
    text-align: center;
    font-size: xx-large;
    padding-top: 80px;
    padding-bottom: 20px;
}
.Q{
    width: 100%;
    height: 100%;
    font-size:xx-large;
}

.A{
    width: 100%;
    height: 100%; 
    font-size:x-large;
}
.A p{
    position: relative;
    left: 35%;
    width: 30%;
}
.z{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z1{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z2{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z3{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z4{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z5{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z6{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z7{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.z8{
    position: relative;
    left: 35%;
    width: 30%;
    cursor:pointer;
}
.x1 p{
    cursor:pointer;
}
.x1 {
    display:none
}
.y1 {
    display:none
}
.x2 p{
    cursor:pointer;
}
.x2 {
    display:none
}
.y2 {
    display:none
}
.x3 p{
    cursor:pointer;
}
.x3 {
    display:none
}
.y3 {
    display:none
}
.x4 p{
    cursor:pointer;
}
.x4 {
    display:none
}
.y4 {
    display:none
}
.x5 p{
    cursor:pointer;
}
.x5 {
    display:none
}
.y5 {
    display:none
}
.x6 p{
    cursor:pointer;
}
.x6 {
    display:none
}
.y6 {
    display:none
}
.x7 p{
    cursor:pointer;
}
.x7 {
    display:none
}
.y7 {
    display:none
}
.x8 p{
    cursor:pointer;
}
.x8 {
    display:none
}
.y8 {
    display:none
}
.x9 p{
    cursor:pointer;
}
.x9 {
    display:none
}
.y9 {
    display:none
}
.fas{
    display: none;

}
.x11 p{
    cursor:pointer;
}
.x11 {
    display:none
}
.y11 {
    display:none
}
.x12 p{
    cursor:pointer;
}
.x12 {
    display:none
}
.y12 {
    display:none
}