.nav{
    
    width: 100%;
    background-color: blanchedalmond;
    
}
.nav p{
    width: 100%;
    font-size: xx-large;
    text-align: center;
    margin: 3% auto;
}
.nav p a{
    color: black;
    text-decoration: none;
  }
.footer{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding: 1%;
  }
.content{
    position: relative;
    background-image: url(/img/pexels-karolina-grabowska-4039781.jpg);
    height: 100%;
    padding-bottom: 2%;
}
.a{
    position:absolute;
    background-image:url(/img/1.jpg);
    background-size:cover;
    opacity: 0.4;
    background-position:center;
    width: 100%;
    height: 300px;
}
.b{
    width: 100%;
    height: 300px;
}
.b p{
    position:relative;
    text-align: center;
    color: black;
    z-index:1000;
    font-size: xx-large;
}
.word{
    position: relative;
    margin: auto;
    font-size: 200%;
    width: 65%;
    word-break:normal; 
}
@media (max-width:600px ){
    .word{
        font-size: 150%;
    }
}