body{
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}
.nav{
    
    width: 100%;
    background-color: blanchedalmond;
    
}
.nav p{
    width: 100%;
    font-size: xx-large;
    text-align: center;
    margin: 3% auto;
}
.nav p a{
    color: black;
    text-decoration: none;
  }

img{
    width: 100%;
    height: 70%;
	border-radius:10px;
	
}
ul{
	width: 100%;
	background-color: rgb(138, 72, 19);
	padding: 0;
	margin: 0;
}

nav {
	text-align: center;
	font-family: Raleway;
}


nav a{
	color:white;
	text-decoration:none;			
}	

.boxs{
	width: 100%;
	height: auto;
	background-image: url(/img/pexels-karolina-grabowska-4039781.jpg);
	margin: 0;
}
.btn {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	color: rgb(255, 255, 255);
	font-size: 30px;
	z-index: 1;
}

.btn::before, .btn::after{
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	background: rgb(245, 197, 93);
	transform-origin: right;
	transition: transform 600ms ease;
	z-index: -1;
	transform: scaleX(0);
}
.btn:hover::before, .btn:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}
.btn::after{
	z-index: -2;
}
.btn a{
	text-decoration: none;
	color: white;
}
 .list
  {
	position: relative;
	margin:0px auto;
	width: 1400px;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
  }
  .list-1
  {
	position: relative;
	margin: 50px 10px 10px;
	height: 400px;
	width: 300px;
	text-align:center;
	overflow: hidden;
	transition: box-shadow 500ms;
	transition : 0.5s;
  }
  .list-1:hover {
	box-shadow:	10px 10px 5px rgba(0,0,0,0.8);
	transform : scale(1.1);
	}
	.list-1 a{
		text-decoration: none;
		color: black;
	}
	.list-1 p{
		margin-top: 3%;
	}
	.text
	{
		animation-timing-function: ease-in-out;
		position: absolute;
		color:rgb(0, 0, 0);
		font-weight:bold;
		font-size: 30px;
		top: 225px;
		height: 20%;
		width: 100%;
		background: rgba(0, 0, 0, 0.1);
	}
	.footer{
		
		width: 100%;
		height: auto;
		text-align: center;
		background-color: rgb(235, 231, 231);
		padding: 1%;
	  }
/*==================== page  start ==================== */

.pagination {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.pagination:after {
  content: "";
  clear: both;
}

.pagination-button {
  display: inline-block;
  padding: 5px 10px;
  border: 0px solid transparent;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
  margin: 5px;
}

.pagination-button:hover {
  color: orange;
}

.pagination-button.active {
  background-color: orange;
  border-color: white;
  color: black;
}

.pagination-button:first-of-type {
  border-radius: 18px 0 0 18px;
  font-size: 28px;
  background-color: transparent;
}

.pagination-button:last-of-type {
  border-radius: 0 18px 18px 0;
  font-size: 28px;
  background-color: transparent;
}
.pagination-items {
  display: flex;
  width: 100%;
  height: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

 
  @media screen and (Max-Width:  1600px){
	.list{
	  height:150%;
	  width: 75%;	 
	  display: flex;
	flex-wrap: wrap; 
  }
	.list-1 {
		height: 28.5%;
	width: 25%;
	}
}
@media screen and (Max-Width:  900px){
	.list{
	  position: relative;
	  height:150%;
	  width: 75%;	 
	  display: flex;
	  flex-wrap: wrap; 

  }
	.list-1 {
		height: 30%;
	width: 40%;
	}
}
@media screen and (Max-Width:  480px) and (min-width: 0px)
{
	
	.list{
	  position: relative;
	  height:2500px;
	  width: 100%;
	  display: flex;
	  flex-wrap: wrap; 
  }
	.list-1 {
	  width: 50%;
	  height: 10%;
	}
	
}
@media screen and (Max-Width:  350px) and (min-width: 0px)
{
	
	.list{
	  position: relative;
	  height:3600px;
	  width: 100%;
	  display: flex;
	  flex-wrap: wrap; 
  }
	.list-1 {
	  width: 60%;
	  height: 7%;
	}
	
}
