
body {
	width: 100%;
	height: 100%;
	background-image: url(/img/pexels-karolina-grabowska-4039781.jpg);
	overflow-x: hidden;
	margin: 0%;
	margin:0 auto;

}


.clearfix {
  content: "";
  display: table;
  clear: both;	
}

#site-header {
	background: blanchedalmond;
	width: 100%;
	
}
#site-footer{
	position: relative;
	background: blanchedalmond;
	width: 100%;
	top: 300px;
	
}

#site-header h1 {
	font-size: 30px;
	font-weight: 3000;
	padding: 40px 0;
	position: relative;
	cursor: pointer;
	margin: 0;
	color: #000000;
}
#site-header h2{
	position: relative;
	background: blanchedalmond;
	border: 1px solid #999;
	border-style: none none none none;
	cursor: pointer;
	display: block;
	color: rgb(0, 0, 0);
	font-size: 30px;
	font-weight: 3000;
	padding: 16px 0;
	width: 10%;
	text-align: center;
	left: 60%;
}

a {
	color: #000;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}
.container1{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 50%;
	display: flex;
}



.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 50%;
}


#cart {
	width: 100%;
}

#cart h1 {
	font-weight: 300;
}

#cart a {
	color: #53b5aa;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#cart a:hover {
	color: #000;
}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.product {
	margin: 20px 0;
	width: 100%;
	height: 200px;
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.product img {
	width: 100%;
	height: 100%;
}

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
}

.product header {
	background: #000;
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 24%;
	height: 195px;
}

.product header:hover img {
	opacity: .5;
}

.product header:hover h3 {
	bottom: 73px;
}

.product header h3 {
	background: #53b5aa;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -500px;
	right: 0;
	left: 0;
	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 145px;
	width: 75%;
}

.product h1 {
	color: #53b5aa;
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #ffffff;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: #53b5aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}



#site-footer h1 {
	background:blanchedalmond;
	font-size: 30px;
	font-weight: 3000;
	margin: 0 0 7px 0;
	padding: 14px 40px; 
	text-align: center;
}


.right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.right a{
	width: 25%;
}

.btn {
	background: #53b5aa;
	cursor: pointer;
	display: block;
	color: #fff;
	font-size: 50px;
	text-align: center;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.btn:hover {
	color: #fff;
	background: #429188;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}


@media screen and (Max-Width:  1220px)
{
	
	
	#site-header h2{		
		width: 50%;
		text-align: center;
	}
	.product .content {
		height: 140px;		
	}
	.product {
		width: 140%;
		height: 225px;
		right: 10%;
		
}
}
@media screen and (Max-Width:  820px){
	

	.right a{
		width: 50%;
	}

}
@media screen and (Max-Width:  480px) and (min-width: 380px){
	.container1{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
	}
	#site-header, #site-footer {
		height:10% ;
		width: 100%;
		text-align: center;
		
		
	}
	#site-header h1{
		background-color: blanchedalmond;
		width: 100%;
		height: 20%;
}
	#site-header h2{
		background: blanchedalmond;
		width: 100%;
		height: 20%;
		left: 0%;

	}
	.right a{
		width: 265px;
	}
	.product .content {
		font-size:0;
		height: 140px;		
	}
	.product {
		width: 195%;
		height: 225px;
		right: 48%;
			
}
.product footer .price {
	background: blanchedalmond;
	bottom: 40%;
	left: 76%;
	position: absolute;
}
}
@media screen and (Max-Width:  380px) and (min-width: 330px)
{
	.container1{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
	}
	#site-header, #site-footer {
		height:10% ;
		width: 100%;
		text-align: center;

		
	}
	#site-header h1{
		background-color: blanchedalmond;
		width: 100%;
		height: 20%;
}
	#site-header h2{
		background: blanchedalmond;
		width: 100%;
		height: 20%;
		left: 0%;

	}
	.right a{
		width: 235px;
	}
}
@media screen and (Max-Width:  330px) and (min-width: 0px)
{
	.container1{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
	}
	#site-header, #site-footer {
		height:10% ;
		width: 100%;
		text-align: center;
		
		
	}
	#site-header h1{
		background-color: blanchedalmond;
		width: 100%;
		height: 20%;
	}	
	#site-header h2{
		background: blanchedalmond;
		width: 100%;
		height: 20%;
		left: 0%;

	}
	.right a{
		width: 250px;
	}
}
